<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" 
	src="http://code.jquery.com/jquery-latest.js" ></script>
<script type="text/javascript">
$(function(){
	$("#sbm").click(function(){
		if($("#pw").val()==""){
			alert("현재 비밀번호를 입력하세요.");
			$("#pw").focus();
			return false;
		}
		if($("#newPw").val()==""){
			alert("새 비밀번호를 입력하세요.");
			$("#newPw").focus();
			return false;
		}
		$("#frm").submit();
	});
});
</script>

</head>
<body>
<form th:action ="@{/member/pwModifyPro}" method="post" name="frm" id="frm" >
	현재비밀번호 : <input type="password" name = "userPw" id ="pw" /><span th:text="${valid_Pw}"> </span><br />
	새 비밀번호 : <input type="password" name = "newPw" 
	             id ="newPw" /><br />
	새 비밀번호 확인 : <input type="password" name = "reNewPw" 
	             id ="reNewPw" /><span th:text="${valid_reNewPw}"> </span><br />
	<input type="button" value = "비밀번호변경" id ="sbm"/>
</form>	             
</body>
</html>