<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="mybatis.properties" >
		<property name="ddd.password" value="STUDY"/>
	</properties>
	<typeAliases>
		<typeAlias type="Model.DTO.MemberDTO" alias = "memdto" />
		<typeAlias type="Model.DTO.StartEndPageDTO" alias="startEnd"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${ccc.userName}"/>
				<property name="password" value="${ddd.password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mappers/memberMapper.xml"/>
		<mapper resource="mappers/loginMapper.xml"/>
	</mappers>
</configuration>
 