<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    "
>

	<bean id="commentInsertRepository" 
					class="Repository.Comment.CommentInsertRepository"/>
	<bean id="commentListRepository" 
					class="Repository.Comment.CommentListRepository"/>
	<bean id="commentInsertService" 
					class="Service.Comment.CommentInsertService"/>
	<bean id="commentListService" 
					class="Service.Comment.CommentListService"/>				
					
					
</beans>