<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
	   xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation = "http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans.xsd"
>
	<bean class = "Controller.Goods.GoodsController"/>
	<bean class = "Controller.Goods.GoodsWriterController"/>
	<bean class = "Controller.Goods.GoodsDetailController"/>
	<bean class = "Controller.Goods.GoodsCartController"/>
	<bean class = "Controller.Goods.GoodsWishController"/>
</beans>