<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    "
>
	
	
	<bean id="memberDMLRepository" 
		class = "Repository.Member.MemberDMLRepository" />
	<bean id="loginRepository" 
		class = "Repository.Member.LoginRepository" />
	<bean id="memberRepository" 
		class = "Repository.Member.MemberRepository" />
	<bean id = "memberJoinService"  
		class = "Service.Member.MemberJoinService"/>
	<bean id = "authService"  
		class = "Service.Member.AuthService"/>
	<bean id = "memberListService"  
		class = "Service.Member.MemberListService"/>
	<bean id = "memberDetailService"  
		class = "Service.Member.MemberDetailService"/>
	<bean id = "memberModifyService"  
		class = "Service.Member.MemberModifyService"/>
	<bean id = "memberDeleteSevice"  
		class = "Service.Member.MemberDeleteSevice"/>	
		
	

		
</beans>



