<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodsMapper">
<cache />
<sql id="baseGoodsColumn">
	GOODS_SEQ,GOODS_NUM,USER_ID,GOODS_NAME,GOODS_PRICE, GOODS_QTY,
	GOODS_CONTENT, GOODS_IMAGE, GOODS_REGISTER, GOODS_VISIT
</sql>
<insert id="goodsInsert" parameterType="goods" >
	insert into goods ( <include refid="baseGoodsColumn" /> )
	values(num_seq.nextval, #{goodsNum}, #{userId}, #{goodsName}, 
	#{goodsPrice}, #{goodsQty}, #{goodsContent}, #{goodsImage},sysdate,0)
</insert>
<resultMap type="goods" id="goodsBaseMap">
	<id column="GOODS_SEQ" jdbcType="BIGINT" property="goodsSeq"/>
	<result column="GOODS_NUM" jdbcType="VARCHAR" property="goodsNum" />
	<result column="USER_ID" jdbcType="VARCHAR" property="userId" />
	<result column="GOODS_NAME" jdbcType="VARCHAR" property="goodsName" />
	<result column="GOODS_PRICE" jdbcType="BIGINT" property="goodsPrice" />
	<result column="GOODS_QTY" jdbcType="BIGINT" property="goodsQty" />
	<result column="GOODS_CONTENT" jdbcType="VARCHAR" property="goodsContent" />
	<result column="GOODS_IMAGE" jdbcType="VARCHAR" property="goodsImage" />
	<result column="GOODS_REGISTER" jdbcType="TIMESTAMP" property="goodsRegister" />
	<result column="GOODS_VISIT" jdbcType="BIGINT" property="goodsVisit" />
</resultMap>
<select id="goodsList" resultMap="goodsBaseMap" parameterType="long">
	select <include refid="baseGoodsColumn" /> from goods
	<trim prefix="where" prefixOverrides="AND | OR">
		<if test="value != null">
			GOODS_SEQ = #{goodsSeq}  
		</if>
	</trim>
</select>
<select id="goodsWishList" parameterType="string" resultMap="goodsBaseMap">
	select <include refid="baseGoodsColumn" /> from goods
	where GOODS_SEQ IN (select GOODS_SEQ from wish where user_id = #{userId})
</select>
<delete id="wishDelete" parameterType="wish">
	delete from wish where GOODS_SEQ = #{goodsSeq} and user_id = #{userId}
</delete>
<insert id="wishInsert" parameterType="wish">
	insert into wish(GOODS_SEQ, user_id)
	values(#{goodsSeq},#{userId})
</insert>
<select id="goodsWishCount" parameterType="wish" resultType="int">
	select count(*) from wish 
	where GOODS_SEQ  = #{goodsSeq} and USER_ID  =#{userId} 
</select>
<insert id="cartInsert" parameterType="cart">
	MERGE into cart c1
	USING (select goods_seq from goods  where goods_seq = #{goodsSeq} ) g1
	ON (c1.GOODS_SEQ = g1.GOODS_SEQ and c1.user_id = #{userId} )
	When MATCHED THEN
		update set c1.qty = c1.qty + 1
	When NOT MATCHED THEN
		insert (c1.goods_seq, c1.user_id, c1.goods_name,  c1.goods_price, 
				c1.goods_image, c1.qty)
		values(g1.goods_seq,#{userId},#{goodsName},#{goodsPrice},
		        #{goodsImage},#{qty})
</insert>

<resultMap type="cart" id="cartListMap">
	<id column="goods_seq" jdbcType="BIGINT" property="goodsSeq"/>
	<id column="user_id" jdbcType="VARCHAR" property="userId"/>
	<result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
	<result column="goods_price" jdbcType="BIGINT" property="goodsPrice"/>
	<result column="goods_image" jdbcType="VARCHAR" property="goodsImage"/>
	<result column="qty" jdbcType="BIGINT" property="qty"/>
</resultMap>
<select id="cartList" parameterType="string" resultMap="cartListMap">
	select goods_seq, user_id, goods_name, goods_price, goods_image, qty
	from cart 
	where user_id = #{userId}
</select>
</mapper>









