<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    "
>
	<bean id="answerBoardDAO" 
		class="Model.DAO.AnswerBoardDAO" />
	<bean id="answerWriteService" 
		class="Service.Answer.AnswerWriteService" />
	<bean id="answerBoardListService" 
		class="Service.Answer.AnswerBoardListService" />
	<bean id="answerBoardDetailService" 
		class="Service.Answer.AnswerBoardDetailService" />
	<bean id="answerBoardReplyService" 
		class="Service.Answer.AnswerBoardReplyService" />
</beans>